RewriteEngine On


# Redirect to home

RewriteRule ^layout\.j2.*$ / [R,L]


# Default error pages

ErrorDocument 404 /404.j2
ErrorDocument 403 /403.j2


# Calculate current user language

RewriteCond %{HTTP:Accept-Language} ^es [NC]
RewriteRule ^$ /es/ [R,L]

RewriteCond %{HTTP:Accept-Language} ^en [NC]
RewriteRule ^$ /en/ [R,L]


# Translations

RewriteRule ^es/$ /index.j2 [L]
RewriteRule ^es/servicios/desarrollo-de-software/$ /services/development.j2 [L]
RewriteRule ^es/servicios/ciberseguridad/$ /services/cybersecurity.j2 [L]

RewriteRule ^en/$ /index.j2 [L]
RewriteRule ^en/services/software-development/$ /services/development.j2 [L]
RewriteRule ^en/services/cybersecurity/$ /services/cybersecurity.j2 [L]
