{% extends '/layout.j2' %}

{% block title %}Not found{% endblock %}

{% block header %}
    <link href="/assets/fragments/main/css/style.css" rel="stylesheet" />
{% endblock %}

{% block top %}
    <p class="logo-top mb-4 lead">Not found</p>
    <h1 class="logo">
        Devel<span>R0X</span>
    </h1>
    <p class="logo-bottom lead">The section is not found.</p>
{% endblock %}