#main-fragment-header.header-block {
    background-image: url(./bg.jpg);
    background-size: cover;
}

#main-fragment-header .header-content {
    padding: 220px 50px;
}

#main-fragment-header h1.logo {
    font-size: 125px;
    line-height: 90px;
    margin: 40px 0;
}

/* Mobile */
@media (max-width: 991px){

    #main-fragment-header .header-content{
        padding: 120px 20px;
    }

    #main-fragment-header h1.logo{
        font-size: 90px;
    }
}

/* Ultra small */
@media (max-width: 533px){
    #main-fragment-header .header-content{
        padding: 90px 5px;
    }

    #main-fragment-header h1.logo{
        font-size: 70px;
    }
}
