{% extends '/layout.j2' %}

{% set str = json.load(io.open('%s/assets/strings/services/security.json' % document_root, encoding='utf-8')) %}
{% set lang = uri.split('/')[1] %}
{% set str = str[lang] %}

{% block title %}{{ str['title'] }}{% endblock %}

{% block header %}
    <link href="/assets/fragments/services/security/css/style.css" rel="stylesheet" />
{% endblock %}

{% block top %}
    <h1 class="mb-4 mt-4">
        {{ str['header']['title'] }}
    </h1>
    <p class="lead">
        {{ str['header']['message'] }}
    </p>
{% endblock %}

{% block content %}
    <div class="jumbotron jumbotron-fluid jumbotron-icons mb-0 text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4 pt-4 pb-4">
                    <div class="text-primary">
                        <i aria-hidden="true" class="d-block fa fa-user-secret fa-5x pt-2 pb-2"></i>
                        <h4 class="mt-2 mb-4">
                            {{ str['content']['benefits']['ethics']['title'] }}
                        </h4>
                    </div>
                    <p>
                        {{ str['content']['benefits']['ethics']['message'] }}
                    </p>
                </div>
                <div class="col-md-4 pt-4 pb-4">
                    <div class="text-primary">
                        <i aria-hidden="true" class="fa fa-lightbulb-o fa-5x pt-2 pb-2"></i>
                        <h4 class="mt-2 mb-4">
                            {{ str['content']['benefits']['knowledge']['title'] }}
                        </h4>
                    </div>
                    <p>
                        {{ str['content']['benefits']['knowledge']['message'] }}
                    </p>
                </div>
                <div class="col-md-4 pt-4 pb-4">
                    <div class="text-primary">
                        <i aria-hidden="true" class="fa fa-check-square-o fa-5x pt-2 pb-2"></i>
                        <h4 class="mt-2 mb-4">
                            {{ str['content']['benefits']['compliance']['title'] }}
                        </h4>
                    </div>
                    <p>
                        {{ str['content']['benefits']['compliance']['message'] }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid bg-dark text-light text-center">
        <div class="container">
            <h1>
                {{ str['content']['informative']['title'] }}
            </h1>
            <p class="lead mt-4">
                {{ str['content']['informative']['message'] }}
            </p>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid jumbotron-bg-light">
        <div class="container">
            <h1 class="text-center mb-5">
                {{ str['content']['details']['title'] }}
            </h1>

            <div class="row justify-content-md-center mb-5">
                <div class="col-md-3">
                    <img class="img-fluid" src="/assets/fragments/services/security/images/pentesting.png" />
                </div>
                <div class="col-md-9 text-justify">
                    <h4>
                        {{ str['content']['details']['manual']['title'] }}
                    </h4>
                    <p class="mb-5">
                        {{ str['content']['details']['manual']['message'] }}
                    </p>
                </div>
            </div>

            <div class="normal-icons-rounded text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="text-primary">
                                <i aria-hidden="true" class="fa fa-code fa-4x"></i>
                                <h3 class="mt-5 mb-4">
                                    {{ str['content']['details']['modes']['white-box']['title'] }}
                                </h3>
                            </div>
                            <p class="text-center">
                                {{ str['content']['details']['modes']['white-box']['subtitle'] }}
                            </p>
                            <p class="text-justify">
                                {{ str['content']['details']['modes']['white-box']['message'] }}
                            </p>
                        </div>
                        <div class="col-md-4">
                            <div class="text-primary">
                                <i aria-hidden="true" class="fa fa-cubes fa-4x"></i>
                                <h3 class="mt-5 mb-4">
                                    {{ str['content']['details']['modes']['applicative']['title'] }}
                                </h3>
                            </div>
                            <p class="text-center">
                                {{ str['content']['details']['modes']['applicative']['subtitle'] }}
                            </p>
                            <p class="text-justify">
                                {{ str['content']['details']['modes']['applicative']['message'] }}
                            </p>
                        </div>
                        <div class="col-md-4">
                            <div class="text-primary">
                                <i aria-hidden="true" class="fa fa-wifi fa-4x"></i>
                                <h3 class="mt-5 mb-4">
                                    {{ str['content']['details']['modes']['perimeter']['title'] }}
                                </h3>
                            </div>
                            <p class="text-center">
                                {{ str['content']['details']['modes']['perimeter']['subtitle'] }}
                            </p>
                            <p class="text-justify">
                                {{ str['content']['details']['modes']['perimeter']['message'] }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}