{% extends '/layout.j2' %}

{% set str = json.load(io.open('%s/assets/strings/services/development.json' % document_root, encoding='utf-8')) %}
{% set lang = uri.split('/')[1] %}
{% set str = str[lang] %}

{% block title %}{{ str['title'] }}{% endblock %}

{% block header %}
    <link href="/assets/fragments/services/develop/css/style.css" rel="stylesheet" />
{% endblock %}

{% block top %}
    <h1 class="mb-4 mt-4">{{ str['header']['title'] }}</h1>
    <p class="lead">{{ str['header']['message'] }}</p>
{% endblock %}

{% block content %}
    <div class="jumbotron jumbotron-fluid jumbotron-icons mb-0 text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4 pt-4 pb-4">
                    <div class="text-primary">
                        <i aria-hidden="true" class="d-block fa fa-shield fa-5x pt-2 pb-2"></i>
                        <h4 class="mt-2 mb-4">
                            {{ str['content']['benefits']['security']['title'] }}
                        </h4>
                    </div>
                    <p>
                        {{ str['content']['benefits']['security']['message'] }}
                    </p>
                </div>
                <div class="col-md-4 pt-4 pb-4">
                    <div class="text-primary">
                        <i aria-hidden="true" class="fa fa-key fa-5x pt-2 pb-2"></i>
                        <h4 class="mt-2 mb-4">
                            {{ str['content']['benefits']['dependency']['title'] }}
                        </h4>
                    </div>
                    <p>
                        {{ str['content']['benefits']['dependency']['message'] }}
                    </p>
                </div>
                <div class="col-md-4 pt-4 pb-4">
                    <div class="text-primary">
                        <i aria-hidden="true" class="fa fa-cubes fa-5x pt-2 pb-2"></i>
                        <h4 class="mt-2 mb-4">
                            {{ str['content']['benefits']['technology']['title'] }}
                        </h4>
                    </div>
                    <p>
                        {{ str['content']['benefits']['technology']['message'] }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid bg-dark text-light text-center">
        <div class="container">
            <h1>
                {{ str['content']['informative']['title'] }}
            </h1>
            <p class="lead mt-4">
                {{ str['content']['informative']['message'] }}
            </p>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid jumbotron-bg-light">
        <div class="container">
            <h1 class="text-center mb-4">
                {{ str['content']['cycle']['title'] }}
            </h1>
            <ul class="list-unstyled">
                <li class="media mb-3">
                    <span class="align-self-center mr-3 text-secondary">
                        <span class="fa-stack fa-lg fa-2x">
                            <i class="fa fa-square-o fa-stack-2x"></i>
                            <i class="fa fa-search-plus fa-stack-1x"></i>
                        </span>
                    </span>
                    <div class="media-body">
                        <h5 class="mt-0 mb-1 font-weight-bold">
                            {{ str['content']['cycle']['analysis']['title'] }}
                        </h5>
                        <p>
                            {{ str['content']['cycle']['analysis']['message'] }}
                        </p>
                    </div>
                </li>
                <li class="media mb-3">
                    <span class="align-self-center mr-3 text-secondary">
                        <span class="fa-stack fa-lg fa-2x">
                            <i class="fa fa-square-o fa-stack-2x"></i>
                            <i class="fa fa-lightbulb-o fa-stack-1x"></i>
                        </span>
                    </span>
                    <div class="media-body">
                        <h5 class="mt-0 mb-1 font-weight-bold">
                            {{ str['content']['cycle']['design']['title'] }}
                        </h5>
                        <p>
                            {{ str['content']['cycle']['design']['message'] }}
                        </p>
                    </div>
                </li>
                <li class="media mb-3">
                    <span class="align-self-center mr-3 text-secondary">
                        <span class="fa-stack fa-lg fa-2x">
                            <i class="fa fa-square-o fa-stack-2x"></i>
                            <i class="fa fa-file-code-o fa-stack-1x"></i>
                        </span>
                    </span>
                    <div class="media-body">
                        <h5 class="mt-0 mb-1 font-weight-bold">
                            {{ str['content']['cycle']['creation']['title'] }}
                        </h5>
                        <p>
                            {{ str['content']['cycle']['creation']['message'] }}
                        </p>
                    </div>
                </li>
                <li class="media mb-3">
                    <span class="align-self-center mr-3 text-secondary">
                        <span class="fa-stack fa-lg fa-2x">
                            <i class="fa fa-square-o fa-stack-2x"></i>
                            <i class="fa fa-check fa-stack-1x"></i>
                        </span>
                    </span>
                    <div class="media-body">
                        <h5 class="mt-0 mb-1 font-weight-bold">
                            {{ str['content']['cycle']['tests']['title'] }}
                        </h5>
                        <p>
                            {{ str['content']['cycle']['tests']['message'] }}
                        </p>
                    </div>
                </li>
                <li class="media mb-3">
                    <span class="align-self-center mr-3 text-secondary">
                        <span class="fa-stack fa-lg fa-2x">
                            <i class="fa fa-square-o fa-stack-2x"></i>
                            <i class="fa fa-terminal fa-stack-1x"></i>
                        </span>
                    </span>
                    <div class="media-body">
                        <h5 class="mt-0 mb-1 font-weight-bold">
                            {{ str['content']['cycle']['deployment']['title'] }}
                        </h5>
                        <p>
                            {{ str['content']['cycle']['deployment']['message'] }}
                        </p>
                    </div>
                </li>
                <li class="media">
                    <span class="align-self-center mr-3 text-secondary">
                        <span class="fa-stack fa-lg fa-2x">
                            <i class="fa fa-square-o fa-stack-2x"></i>
                            <i class="fa fa-phone fa-stack-1x"></i>
                        </span>
                    </span>
                    <div class="media-body">
                        <h5 class="mt-0 mb-1 font-weight-bold">
                            {{ str['content']['cycle']['continuity']['title'] }}
                        </h5>
                        <p>
                            {{ str['content']['cycle']['continuity']['message'] }}
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}